* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul > li {
  list-style: none;
}


/* Helper classes */
:root {
  --color-primary: #8fb2eb;
  --color-secondary: #d2e1fa;
  --color-high-priority: #f02e4e;
}


.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.titles {
  font-family: 'Roboto', sans-serif;
  font-size: 3rem;
}

.sub-titles {
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
}

/* Grid Template */
#title-container {
  grid-area: title;
  border-bottom: 1px solid var(--color-primary);
  display: flex;
  flex-direction: row;
  align-items: center;
}

#project-sidebar {
  grid-area: sidebar;
  border-right: 1px solid var(--color-primary);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#to-do-lists-container {
  grid-area: lists;
}


#grid-container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 150px auto;
  grid-template-areas: 
    "title title"
    "sidebar lists";
  height: 100vh;
}


/* Title */
#title {
  margin-left: 1rem;
  
}

#title-container > i {
  font-size: 6rem;
  margin-left: 1rem;
  color: var(--color-primary);
}

/* Project Sidebar */
#project-title {
  margin-top: 1rem;
}

.projects-list {
  width: 100%;
  display: flex;
  
}

.projects-list ul {
  margin-top: 1rem;
  width: 100%;
}

.projects-list ul li {
  font-size: 1rem;
  width: 80%;
  text-align: center;
  margin-top: 0.5rem;
  border-radius: 5px;
}

.projects-list ul li:hover {
  background-color: var(--color-secondary);
}

/* To do title */
#to-do-list-title {
  margin-top: 1rem;
}

#to-do-items {
  margin-top: 1rem;
  display: flex;
  width: 50%;
}

.to-do-item {
  border: var(--color-primary) solid 1px;
  border-radius: 5px;
  font-size: 1rem;
  margin-top: 1rem;
  padding: 1rem;
  width: 100%;
  position: relative;
}

.to-do-item > .delete {
  position: absolute;
  top: -10px;
  right: -5px;
  display: none;
  color: red;
}

.to-do-item > .show {
  display: block;
}

.to-do-item:hover {
  background-color: var(--color-secondary);
}

.summary {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.description {
  margin-top: 5px;
  display: none;
}

button {
  margin-top: 2rem;
  background-color: var(--color-primary);
  border-radius: 50%;
  font-size: 2rem;
  color: #fff;
  border-color: #fff;
}

.high-priority {
  background-color: var(--color-high-priority);
}